:root {
    --color: #e10000;
}

.banner-container {
    background-image: url("../../assets/images/01.svg");
}

.banner-element {
    background-color: #ffffff;
    opacity: 90%;
    font-size: 20px;
    line-height: 28.9px;
    font-weight: 400;
    padding: 10px;
}

.element-1 {
    margin-bottom: 10px;
}

.browse-collections {
    width: 240px;
    height: 50px;
    background-color: var(--color);
    color: #ffffff;
    margin-top: 80px;
}

.text-red {
    color: var(--color);
}
