.latest-collections-wrapper {
    margin: 30px 140px 50px 140px;
}
.collection-items {
    gap: 10px;
    justify-content: space-evenly;
}

.latest-collection-header {
    margin: 10px 0px;
}

.collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-item-details {
    margin-top: 10px;
}

.collection-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20.23px;
    padding-bottom: 5px;
}

.collection-price {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.79px;
    color: var(--color);
}

.horizontal-line {
    width: 100%;
    margin: 40px 0;
}

.overlap {
    position: relative;
    display: flex;
}

.overlap-title {
    position: absolute;
    top: -12px;
    left: 45%;
    padding: 0px 10px;
    background-color: #ffffff;
}
