.testimonails-wrapper {
    background-color: #f9f9f9;
    font-size: 14px;
    padding: 50px 0px 100px 0px;
}

.testimonial-subWrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.testimonial-section {
    width: 329px;
    background-color: #ffffff;
    padding: 15px;
    position: relative;
}

.testimonial-image {
    position: absolute;
    top: -25px;
    left: -20px;
}

.testimonial-image-size {
    height: 40px;
}

.user-name {
    color: #404040;
}

.testimonials-title {
    display: flex;
    justify-content: center;
    padding: 0 0 60px 0;
    font-size: 24px;
    weight: 400;
    color: #333333;
}

.name-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.star-images {
    display: flex;
    gap: 4px;
}

.testimonial-content {
    color: #707070;
    font-size: 14px;
    line-height: 20.23px;
    font-weight: 400;
    font-style: italic;
}
