.profile-title {
    font-size: 24px;
}

.profile-section {
    padding: 30px;
}

.name-input {
    gap: 10px;
}

.profile-inputs input {
    width: 100%;
    /* padding: 10px; */
    padding: 10px 10px;
    border-radius: none;
    margin-bottom: 25px;
}

.profile-inputs {
    margin-top: 20px;
}

.profile-submit-wrapper {
    justify-content: flex-end;
}

.profile-sumbit {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
}
