.footer-wrapper {
    height: 360px;
    background-color: #333333;
}

.footer-content {
    width: 100%;
    padding-top: 60px;
    color: #bbbbbb;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
}

.left-section p {
    margin-bottom: 20px;
    font-size: 14px;
}

.right-section {
    font-size: 14px;
}

.footer-logo {
    width: 103px;
    height: 70px;
    background-color: #e10000;
    color: white;
}

.stay-in-touch {
    font-size: 14px;
    margin-top: 25px;
}

.made-up {
    margin-top: 10px;
}

.corporate-office {
    color: #dddddd;
    margin-bottom: 10px;
}

.office-contact {
    margin-top: 40px;
    margin-bottom: 10px;
}

.email-image img {
    margin-right: 10px;
}

.social-icons {
    gap: 16px;
    margin-top: 10px;
}
