@import url("https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.header-wrapper {
    height: 70px;
    padding: 0px 55px;
}

.header-logo {
    width: 98.66px;
    height: 70px;
    background-color: #e10000;
    color: #ffffff;
    cursor: pointer;
}

.logo-text {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.88px;
    font-family: "Scada", sans-serif;
}

.header-links {
    flex: 1;
}

.header-links ul {
    justify-content: space-around;
    gap: 40px;
    padding: 0 100px;
}

.header-links ul li {
    list-style-type: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
}

.header-icons ul {
    gap: 30px;
}

.header-icons ul li {
    list-style-type: none;
}

.header-icons ul li img {
    height: 20px;
    cursor: pointer;
}

.nav-active-link {
    color: red !important;
}
